﻿@* Delete an article *@

<div class="modal fade" id="article-deletion" style="background-color: white; width: 500px; height: 200px">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div>
                <label class="control-label">Title</label>
                <input type="text" class="form-control" id="Title" name="Title" placeholder="Title of the article" />
            </div>
            <br />
            <div>
                <label class="control-label">Date of publication</label>
                <input type="date" class="form-control" id="PubDate" name="PubDate" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="btnAdd">Add</a>
    </div>
</div>
