﻿
@{
    ViewBag.Title = "ArticleRO";
}

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js" type="text/javascript"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/articlesROTable.js"></script>

    <script>
        $(document).ready(function () {

        })
    </script>
</head>

<body>
    <h2>Article</h2>
    <br />

    @* Articles table *@

    <br />

    <div id="container">
        <table id="articlesTable" class="table table-responsive" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</body>


</html>
