﻿
@{
    ViewBag.Title = "Articles Management";
}

<h2>Articles</h2>

<!DOCTYPE html>
<html>
    <head>
        <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js" type="text/javascript"></script>
        <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/articlesTable.js"></script>

        <script>
            $(document).ready(function () {

                var curArtId;

            $("#btnAdd").on("click", function () {
                var title = document.getElementById("Title").value;
                var desc = document.getElementById("Description").value;
                var date = document.getElementById("PubDate").value;
                $.post("AddArticle/Home", { mtitle: title, mdesc: desc, mdate: date }, function(){
                    //alert("Successfully added");
                    $('#article-creator').modal('hide');
                    document.location.reload();
                })
            });

            //$("#articlesTable").on("click", function () {
            //    alert("Clicked");
            //    //var oArticles = $('#articlesTable');
            //    //var aPos = oArticles.fnGetPosition(this);
            //    //var aData = oArticles.fnGetData(aPos[0]);
            //});

            $("#articlesTable").on("click", "td button", function () {
                curArtId = this.id;
                if (this.name == "EButton") {
                    editArticle(curArtId);
                }
                else if(this.name == "DButton") {
                    $('#article-deletion').modal('show');
                }
            });

            $("#btnDel").on("click", function () {
                var articleId = curArtId;
                $.post("DeleteArticle/Home", { mid: articleId }, function () {
                    //alert("Successfully deleted");
                    $('#article-deletion').modal('hide');
                    document.location.reload();
                })
            });

            $("#btnUpdate").on("click", function () {
                var id = curArtId;
                var title = document.getElementById("eTitle").value;
                var desc = document.getElementById("eDescription").value;
                var date = document.getElementById("ePubDate").value;
                $.post("EditArticle/Home", { mid: id, mtitle: title, mdesc: desc, mdate: date }, function () {
                    //alert("Successfully updated");
                    document.location.reload();
                })
            })

            function editArticle(id) {
                $.ajax({
                    //url: "http://localhost:5050/api/articlesapi/" + id,
                    url: "GetArticle/" + id,
                    cache: false
                }).done(function (data) {
                    $('#article-editor').modal('show');
                    $("#eTitle").val(data.title);
                    $("#eDescription").val(data.description);
                    $("#ePubDate").val(data.date.Date);
                })
            }

            });
        </script>
    </head>

    <body>

        <button type="button" class="btn btn-primary" data-target="#article-creator" data-toggle="modal">Add a new article</button>
        

        <br />

        @* Articles table *@

        <br />

        <div id="container">
            <table id="articlesTable" class="table table-responsive" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

        @* Add a new article *@

        <div class="modal fade" id="article-creator" style="background-color: white; width: 500px; height: 500px; margin-left: 400px; margin-top: 20px">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Adding a new article</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div>
                        <label class="control-label">Title and description</label>
                        <input type="text" class="form-control" id="Title" name="Title" placeholder="Title of the article" />
                        <br />
                        <textarea class="form-control" id="Description" name="Description" rows="5" cols="0" placeholder="Description of the article"></textarea>
                    </div>
                    <br />
                    <div>
                        <label class="control-label">Date of publication</label>
                        <input type="date" class="form-control" id="PubDate" name="PubDate" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnAdd">Add</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>

        @* Edit an article *@

        <div class="modal fade" id="article-editor" style="background-color: white; width: 500px; height: 500px; margin-left: 400px; margin-top: 20px">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Editing an article</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div>
                        <label class="control-label">Title and description</label>
                        <input type="text" class="form-control" id="eTitle" name="Title" placeholder="Title of the article" />
                        <br />
                        <textarea class="form-control" id="eDescription" name="Description" rows="5" cols="0" placeholder="Description of the article"></textarea>
                    </div>
                    <br />
                    <div>
                        <label class="control-label">Date of publication</label>
                        <input type="date" class="form-control" id="ePubDate" name="PubDate" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnUpdate">Update</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>

        @* Delete an article *@

        <div class="modal fade" id="article-deletion" style="background-color: white; width: 500px; height: 180px; margin-left: 400px; margin-top: 20px">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Are you sure?</h3>
            </div>

            <div class="modal-body pull-right">
                <a href="#" class="btn btn-danger" id="btnDel">Yes</a>
                <a href="#" class="btn" data-dismiss="modal">No</a>
            </div>
        </div>
    </body>
</html>



