﻿@model Article_Management_System.Models.ArticleModels

@{
    ViewBag.Title = "Show Article";
}

<html>

<head>

</head>

<body>

    <h3>@Html.TextBoxFor(model => model.title, new { style = "border: none;", @readonly = "readonly" })</h3>
    <h6>Published on </h6>
    <h6>@Html.TextBoxFor(model => model.date, new { style = "border: none;", @readonly = "readonly" })</h6>
    <br />

    <p>@Html.TextAreaFor(model => model.description, new { style = "border: none;", @readonly = "readonly" })</p>

    

</body>
</html>



